* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HERO */
.contact-hero {
  width: 100%;
  height: 45vh;
  background: linear-gradient(rgba(20, 40, 80, 0.8), rgba(20, 40, 80, 0.8)),
    url("https://images.unsplash.com/photo-1521791136064-7986c2920216?w=1200");
  background-size: cover;
  background-position: center;
}

.contact-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-overlay h1 {
  font-size: 3rem;
}

.contact-overlay p {
  font-size: 1.1rem;
  color: #ddd;
  margin-top: 10px;
}

/* MAIN SECTION */
.contact-section {
  width: 100%;
  padding: 80px 8%;
  background: #f7f7f7;
}

.contact-container {
  display: flex;
  gap: 40px;
}

/* FORM */
.contact-form {
  flex: 1;
  background: white;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.contact-form h2 {
  margin-bottom: 25px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 13px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

.input-row {
  display: flex;
  gap: 15px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #1e3558;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  background: #1e3558;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #ffc36a;
  color: black;
}

/* INFO */
.contact-info {
  flex: 1;
  background: #1e3558;
  color: white;
  padding: 40px;
  border-radius: 14px;
}

.contact-info h2 {
  margin-bottom: 25px;
}

.info-box {
  margin-bottom: 25px;
  transition: 0.3s;
}

.info-box:hover {
  transform: translateX(6px);
}

.info-box h4 {
  color: #ffc36a;
  margin-bottom: 6px;
}

/* MAP */
.contact-map iframe {
  width: 100%;
  height: 400px;
  border: none;
  display: block;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }

  .input-row {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .contact-overlay h1 {
    font-size: 2rem;
  }

  .contact-overlay p {
    font-size: 1rem;
  }

  .contact-form,
  .contact-info {
    padding: 25px;
  }
}
small {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 6px;
  display: block;
}

input:invalid,
textarea:invalid {
  border-color: red;
}

